[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
pylint = "*"
black = "*"
openai-whisper = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.10"
