body {
    font-family: Arial, sans-serif;
    background: rgb(214, 191, 245);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    color: rgb(45, 11, 89);
}

h1 {
    margin-top: 40px;
    color: rgb(45, 11, 89);
    font-size: 2rem;
}

h2 {
    margin-top: -10px;
    font-weight: 400;
    color: rgb(45, 11, 89);
}

button {
    background-color: #fff1ab;
    color: rgb(45, 11, 89);
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #d7d194;
}

#status {
    margin-top: 20px;
    font-size: 1.1rem;
    color: rgb(45, 11, 89);
}

#countdown {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(45, 11, 89);
}
